%h1 Showing search result:
= form_tag movies_path do
-if @movies.empty? 
   %p No matching movies were found on TMDb
-else
  %table#movies
    %thead
       %tr
       %th Movie Title
       %th Rating
       %th Release Date
       %th Checkbox
       
    %tbody
     - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= check_box_tag "tmdb_movies[#{movie[:tmdb_id]}]"
        
    =link_to "return to movie list", movies_path 

